@import "normalize.css"
@import "helpers.css"
@import "jquery.gridster.css"

// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
//@import 'nib'

gutter = 30px
dimmed = #444444
background = #181818
widgetheader = #454545

// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/
*
  box-sizing: border-box

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url('../fonts/roboto-condensed.woff') format('woff');
}

body
  background: #000;
  font-family: 'Roboto Condensed'
  overflow: hidden

.uppercase
	text-transform: uppercase

.spinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

#disconnected{
  display:none;
  background-color:red;
  border-radius: 5px;
  color:white;
  padding:10px;
  font-size:20px;
  position:absolute;
  width:40%;
  margin:auto;
  left:5%;
  top:5%;
  z-index: 1000;
}

#main-container
  width: 1920px
  height: 1080px
  background: background
  padding: (gutter/2)

  &.disconnected
    opacity:0.3;

  h1
     margin: 0 0 (gutter/2) 0
     color: dimmed
     font-size: 50px;
     line-height: 80%
     font-weight: bold
     text-shadow: 0 0 2px (dimmed * .6)
     margin: (gutter/2) (gutter/2)
     //-webkit-filter: contrast(10)  unquote('invert(1)')
     //opacity: .9


     &.dragged
        width: 220px
        outline: 5px dashed #ccc

     .logo
        float: left

  #dashboard-list
    width: 100%
    ul
        list-style: none
        padding: 0
    li
        background: rgb(15, 15, 15)
        color: #fff
        padding: (gutter / 2)
        margin: (gutter / 2)
        border-radius: (gutter / 8)
        box-shadow: 0 0 5px #111
        overflow: hidden
        float: left
        width: 23%
        font-size: 2em
        a
            text-decoration: none
            color: white
            text-transform: uppercase


  #widgets-container

      clear: both

      ul
        list-style: none
        padding: 0

      li
        background: rgb(15, 15, 15)
        color: #fff
        padding: (gutter / 2)
        border-radius: (gutter / 8)
        box-shadow: 0 0 5px #111
        overflow: hidden

        &.editing
           z-index: 32767
           box-shadow: 0 0 15px #333

        &:hover .edit
            display: block

        &.offline, &.onerror
            opacity: 0.1

        .edit
            display: none
            width: 20px
            height: 20px
            position: absolute
            top: (gutter/2)
            right:  (gutter/2)
            border: none
            text-indent: -9999px
            background: transparent no-repeat unquote('url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAGSSURBVCjPVVFNSwJhEF78Ad79Cf6PvXQRsotUlzKICosuRYmR2RJR0KE6lBFFZVEbpFBSqKu2rum6llFS9HHI4iUhT153n6ZtIWMOM+/MM88z7wwH7s9Ub16SJcnbmrNcxVm2q7Z8/QPvEOtntpj92NkCqITLepEpjix7xQtiLOoQ2b6+E7YAN/5nfOEJ2WbKqOIOJ4bYVMEQx4LfBBQDsvFMhUcCVU1/CxVXmDBGA5ZETrhDCQVcYAPbyEJBhvrnBVPiSpNr6cYDNCQwo4zzU/ySckkgDYuNuVpI42T9k4gLKGMPs/xPzzovQiY2hQYe0jlJfyNNhTqiWDYBq/wBMcSRpnyPzu1oS7WtxjVBSthU1vgVksiQ3Dn6Gp5ah2YOKQo5GiuHPA6xT1EKpxQNCNYejgIR457KKio0S56YckjSa9jo//3mrj+BV0QQagqGTOo+Y7gZIf1puP3WHoLhEb2PjTlCTCWGXtbp8DCX3hZuOdaIc9A+aQvWk4ihq95p67a7nP+u+Ws+r0dql9z/zv0NCYhdCPKZ7oYAAAAASUVORK5CYII=)')

      &.loading
         color: #333

        h2
            font-size: gutter
            // Stylus is trying to be damn too clever.
            margin-top: 0
            margin-left: -(gutter/2)
            margin-right: -(gutter/2)
            margin-bottom: (gutter/2)
            padding: 0 (gutter/2) (gutter/2) (gutter/2)
            border-bottom: 1px solid #000000
            text-transform: uppercase
            color: widgetheader
            line-height: 90%

big
         color: #fff
         font-size: gutter * 2
         font-weight: bold

.error
  color:red
  font-size: gutter

.error-display
	display: none
	padding-left: 20px
	padding-bottom: 3px

.error-display.show
	display: inline !important

.widget-title span.alert{
  text-transform: lowercase;
  font-size: 80%;
  opacity: 0.8;
}

.widget-title span.alert_low{
  color: yellow;
}

.widget-title span.alert_high{
  color: red;
}
