#dashboard-list
  padding 2em
  width 100%

  h1
    color $widget-title-color
    font-size 1.2em
    margin 0 0 ($gutter-size / 2) ($gutter-size / 2)
    text-transform uppercase

  ul
    list-style none
    margin 0
    padding 0

    li
      background $widget-background-color
      border-radius ($gutter-size / 8)
      box-shadow 0 0 5px #111
      float left
      margin ($gutter-size / 2)
      overflow hidden
      width 30%

      a
        border: $widget-border
        color #fff
        display: inline-block;
        font-size 2em
        padding ($gutter-size / 2) ($gutter-size)
        text-decoration none
        text-transform uppercase
        transition-duration: 0.2s;
        width 100%

        .description
          display block
          margin-top 0.3em
          font-size 0.6em
          color $gray-lighter

        &:hover
          border-color: #333
          background-color #232323