#dashboard-list
  width 100%

  ul
    list-style none
    padding 0

    li
      background widgetBackgroundColor
      color #fff
      padding (gutterSize / 2)
      margin (gutterSize / 2)
      border-radius (gutterSize / 8)
      box-shadow 0 0 5px #111
      overflow hidden
      float left
      width 23%
      font-size 2em

      a
        text-decoration none
        color white
        text-transform uppercase