fontFamily = 'Roboto Condensed'
backgroundColor = #181818
gutterSize = 20px

bodyPadding = 0

widgetBackgroundColor = #0f0f0f
widgetPadding = gutterSize * 0.7
widgetContainerPadding = 0px
widgetContentPadding = 0px
widgetBorder = solid 2px #1f1f1f

widgetTitleColor = #454545
widgetTitleBackgroundColor = transparent
widgetTitleFontSize = 30px
widgetTitlePadding = 0px

errorColor = #d04437