fontFamily = 'Roboto Condensed'
backgroundColor = #181818
gutterSize = 30px

widgetBackgroundColor = rgb(15, 15, 15)
widgetTitleColor = #454545
widgetTitleFontSize = 30px
widgetPadding = gutterSize * 0.5

errorColor = #d04437