&
  background-color $widgetBackgroundColor
  border-radius ($gutterSize / 4)
  border: $widgetBorder
  box-shadow 0 0 5px #111
  color #fff
  overflow hidden
  padding $widgetPadding

.widget-container
  width 100%
  padding $widgetContainerPadding

  > .content
    padding $widgetContentPadding

.widget-error
  opacity 0.1
  text-align center

  .disabled
    font-size 4em

  .error
    font-size 8em

.spinner
  display block
  margin 0 auto

h2
  background-color $widgetTitleBackgroundColor
  color $widgetTitleColor
  font-size $widgetTitleFontSize
  padding $widgetTitlePadding
  line-height $widgetTitleFontSize
  margin-top 0
  margin-bottom ($gutterSize / 2)
  overflow: hidden
  text-transform uppercase
  text-overflow: ellipsis
  white-space: nowrap

