&
  background-color widgetBackgroundColor
  color #fff
  padding widgetPadding
  border-radius (gutterSize / 8)
  box-shadow 0 0 5px #111
  overflow hidden

.widget-container
  width 100%

.widget-error
  text-align center
  opacity 0.1

  .disabled
    font-size 4em

  .error
    font-size 8em

.spinner
  margin 0 auto
  display block

h2
  font-size widgetTitleFontSize
  line-height widgetTitleFontSize
  margin-top 0
  margin-bottom (gutterSize / 2)
  text-transform uppercase
  color widgetTitleColor
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

